@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cubano;
  src: url('../assets/fonts/Cubano.ttf');
}

@font-face {
  font-family: regular;
  src: url('../assets/fonts/OakSans-Regular.ttf');
}

@font-face {
  font-family: medium;
  src: url('../assets/fonts/OakSans-Medium.ttf');
}

@font-face {
  font-family: bold;
  src: url('../assets/fonts/OakSans-Bold.ttf');
}

@font-face {
  font-family: blackk;
  src: url('../assets/fonts/OakSans-Black.ttf');
}

.cubano {
  font-family: cubano;

}

.regular {
  font-family: regular;

}

.medium {
  font-family: medium;

}

.bold {
  font-family: bold;

}

.blackk {
  font-family: blackk;

}

* {
  font-family: regular;
}

html {
  overflow-x: hidden;
  background-color: #131313;
}

.backArrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 20px;
  transform-origin: center;
  width: 0;
  height: 0;
  transition: .2s ease;
  background-color: #f7f7f715;
}

.backArrow:hover::after{
  width: 160%;
  height: 160%;
}

